.tampilan {
    font-family: "Trirong", serif ;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #aeb2bb; 
}
.jumbotron{
    background-image: url(gambar/jamal3.jpg);
    background-size: 599px;
    color: black;
   
}
.btn-warning{
    background-color: rgb(214, 208, 208);
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(83, 74, 74);
}
.btn-warning:hover{
    background-color: rgb(138, 134, 134);
}
.h1 {
    padding: 10px 16px;
    background: #555;
    border-radius: 5px;
    color: #f1f1f1;
}
.img1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}
.paragraf {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    
}
ol {
    background: #555;
    padding: 20px;
    border-radius: 5px;
}

ul {
    background: #555;
    padding: 20px;
    border-radius: 5px;
}
ol li {
    background: #aeb2bb;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}
ul li {
    background: #aeb2bb;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}
.container {
    border-radius: 20px;
    background: #555;
    color: #ddd;
    padding: 20px;
    
}
.form-label {
    color: black;
}

.card{
    background-color: #aeb2bb;
}