.tampilan {
    font-family: "Lucida Console", "Courier New", monospace;
}
.h1 {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}
}
.paragraf {
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 2px;
}